/* Reset styles */
html, body, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigation styles */
  nav {
    background-color: #444;
    padding: 10px 0;
  
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('../assets/children2.jpg');
    background-size: cover;
    background-position: center;
    color: #01030c;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 2.5em;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  /* Features section styles */
  .features {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2em;
  }
  
  .features ul {
    list-style-type: none;
    margin-top: 20px;
  }
  
  .features ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  